@import "tailwindcss";

@theme {
  --color-primary: #2544a8;
  --color-primary-hover: #1c3480;
  --color-primary-light: #e0e7ff;

  --color-background: #f8fafc;
  --color-background-dark: #1e293b;

  --color-surface: #ffffff;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }
}